/* Google Font */
@import url("https://fonts.googleapis.com/css2?family=Courier+Prime&family=Fira+Mono:wght@400;500;700&display=swap");

/* Components */
@import url("components/font.css");
@import url("components/navbar.css");
@import url("components/button.css");
@import url("components/section.css");
@import url("components/typewriter.css");
@import url("components/footer.css");
@import url("components/card.css");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

:root {
  --main-background-color: #17191c;
  --main-pink: #dd425a;
  --main-green: #add44e;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Fira Mono", monospace;
  font-weight: 400;
  background-color: var(--main-background-color);
  color: rgba(225, 225, 225, 0.8);
  font-size: 0.8rem;
  background-color: var(--main-background-color);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 1000'%3E%3Cg fill-opacity='0.03'%3E%3Ccircle fill='%231C1F22' cx='50' cy='0' r='50'/%3E%3Cg fill='%23232824' %3E%3Ccircle cx='0' cy='50' r='50'/%3E%3Ccircle cx='100' cy='50' r='50'/%3E%3C/g%3E%3Ccircle fill='%232b3126' cx='50' cy='100' r='50'/%3E%3Cg fill='%23323a29' %3E%3Ccircle cx='0' cy='150' r='50'/%3E%3Ccircle cx='100' cy='150' r='50'/%3E%3C/g%3E%3Ccircle fill='%2339432b' cx='50' cy='200' r='50'/%3E%3Cg fill='%23404c2d' %3E%3Ccircle cx='0' cy='250' r='50'/%3E%3Ccircle cx='100' cy='250' r='50'/%3E%3C/g%3E%3Ccircle fill='%2348552f' cx='50' cy='300' r='50'/%3E%3Cg fill='%234f5e31' %3E%3Ccircle cx='0' cy='350' r='50'/%3E%3Ccircle cx='100' cy='350' r='50'/%3E%3C/g%3E%3Ccircle fill='%23566734' cx='50' cy='400' r='50'/%3E%3Cg fill='%235d7036' %3E%3Ccircle cx='0' cy='450' r='50'/%3E%3Ccircle cx='100' cy='450' r='50'/%3E%3C/g%3E%3Ccircle fill='%23657a38' cx='50' cy='500' r='50'/%3E%3Cg fill='%236c833a' %3E%3Ccircle cx='0' cy='550' r='50'/%3E%3Ccircle cx='100' cy='550' r='50'/%3E%3C/g%3E%3Ccircle fill='%23738c3c' cx='50' cy='600' r='50'/%3E%3Cg fill='%237a953f' %3E%3Ccircle cx='0' cy='650' r='50'/%3E%3Ccircle cx='100' cy='650' r='50'/%3E%3C/g%3E%3Ccircle fill='%23829e41' cx='50' cy='700' r='50'/%3E%3Cg fill='%2389a743' %3E%3Ccircle cx='0' cy='750' r='50'/%3E%3Ccircle cx='100' cy='750' r='50'/%3E%3C/g%3E%3Ccircle fill='%2390b045' cx='50' cy='800' r='50'/%3E%3Cg fill='%2397b947' %3E%3Ccircle cx='0' cy='850' r='50'/%3E%3Ccircle cx='100' cy='850' r='50'/%3E%3C/g%3E%3Ccircle fill='%239fc24a' cx='50' cy='900' r='50'/%3E%3Cg fill='%23a6cb4c' %3E%3Ccircle cx='0' cy='950' r='50'/%3E%3Ccircle cx='100' cy='950' r='50'/%3E%3C/g%3E%3Ccircle fill='%23ADD44E' cx='50' cy='1000' r='50'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: contain;
}

.container {
  width: 80vw;
  max-width: 1000px;
  margin: 0 auto;
}

.typewriter {
  width: fit-content;
}
.typewriter p {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 0.4em solid #add44e; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  /* margin: 0 auto; Gives that scrolling effect as the typing happens */
  letter-spacing: 0.15em; /* Adjust as needed */
  animation: typing 3s steps(40, end), blink-caret 0.75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #add44e;
  }
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 80vw;
  }
}

@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 90vw;
  }
}

@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 100vw;
    min-width: 320px;
  }
}
