@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&family=Fira+Mono:wght@400;500;700&display=swap');

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
}

html:focus-within {
  scroll-behavior: smooth;
}

@media(prefers-reduced-motion) {
  html:focus-within {
    scroll-behavior: auto;
  }
}

:root {
  --main-background-color: #17191c;
  --main-pink: #DD425A;
  --main-green: #ADD44E;
}

body {
  font-family: 'Fira Mono', monospace;
  font-weight: 400;
  background-color: var(--main-background-color);
  color: rgba(225, 225, 225, 0.8);
  font-size: 0.8rem;
  background-color: var(--main-background-color);
  /* background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 1000'%3E%3Cg fill-opacity='0.03'%3E%3Ccircle fill='%231C1F22' cx='50' cy='0' r='50'/%3E%3Cg fill='%23232824' %3E%3Ccircle cx='0' cy='50' r='50'/%3E%3Ccircle cx='100' cy='50' r='50'/%3E%3C/g%3E%3Ccircle fill='%232b3126' cx='50' cy='100' r='50'/%3E%3Cg fill='%23323a29' %3E%3Ccircle cx='0' cy='150' r='50'/%3E%3Ccircle cx='100' cy='150' r='50'/%3E%3C/g%3E%3Ccircle fill='%2339432b' cx='50' cy='200' r='50'/%3E%3Cg fill='%23404c2d' %3E%3Ccircle cx='0' cy='250' r='50'/%3E%3Ccircle cx='100' cy='250' r='50'/%3E%3C/g%3E%3Ccircle fill='%2348552f' cx='50' cy='300' r='50'/%3E%3Cg fill='%234f5e31' %3E%3Ccircle cx='0' cy='350' r='50'/%3E%3Ccircle cx='100' cy='350' r='50'/%3E%3C/g%3E%3Ccircle fill='%23566734' cx='50' cy='400' r='50'/%3E%3Cg fill='%235d7036' %3E%3Ccircle cx='0' cy='450' r='50'/%3E%3Ccircle cx='100' cy='450' r='50'/%3E%3C/g%3E%3Ccircle fill='%23657a38' cx='50' cy='500' r='50'/%3E%3Cg fill='%236c833a' %3E%3Ccircle cx='0' cy='550' r='50'/%3E%3Ccircle cx='100' cy='550' r='50'/%3E%3C/g%3E%3Ccircle fill='%23738c3c' cx='50' cy='600' r='50'/%3E%3Cg fill='%237a953f' %3E%3Ccircle cx='0' cy='650' r='50'/%3E%3Ccircle cx='100' cy='650' r='50'/%3E%3C/g%3E%3Ccircle fill='%23829e41' cx='50' cy='700' r='50'/%3E%3Cg fill='%2389a743' %3E%3Ccircle cx='0' cy='750' r='50'/%3E%3Ccircle cx='100' cy='750' r='50'/%3E%3C/g%3E%3Ccircle fill='%2390b045' cx='50' cy='800' r='50'/%3E%3Cg fill='%2397b947' %3E%3Ccircle cx='0' cy='850' r='50'/%3E%3Ccircle cx='100' cy='850' r='50'/%3E%3C/g%3E%3Ccircle fill='%239fc24a' cx='50' cy='900' r='50'/%3E%3Cg fill='%23a6cb4c' %3E%3Ccircle cx='0' cy='950' r='50'/%3E%3Ccircle cx='100' cy='950' r='50'/%3E%3C/g%3E%3Ccircle fill='%23ADD44E' cx='50' cy='1000' r='50'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: contain; */
}

.nav-container {
  width: 100vw;
  height: 4rem;
  padding: 0 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-container ul {
  display: flex;
  justify-content: space-evenly;
  gap: 3rem;
  font-size: 1.025rem;
}

.container {
  width: 80vw;
  max-width: 1000px;
  margin: 0 auto;
}

h1 {
  font-family: 'Courier Prime', monospace;
  font-size: 2.4rem;
  margin-bottom: 1.6rem;
  letter-spacing: 0.025rem;
}

h1 em {
  color: var(--main-pink);
  font-style: normal;
}

h2 {
  font-size: 1rem;
  font-weight: 500;
}

h2 em {
   color: var(--main-pink);
}

p {
  line-height: 1.2rem;
}

em {
  color: var(--main-pink);
  font-style: normal;
}

p.self-intro {
  border: none;
  margin-bottom: 1rem;
  width: fit-content;
}

p#quote {
  text-align: center;
  font-style: italic;
  font-size: 1rem;
}

.typewriter {
  width: fit-content;
}
.typewriter p{
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .40em solid #add44e; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  /* margin: 0 auto; Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation:
    typing 3s steps(40, end),
    blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #add44e; }
}

.language-icon{
  max-width: 4rem;
  margin: 0.4rem 0.8rem;
}

a.button {
  background-color: rgba(173, 212, 78, 0.8);
  color: rgba(28, 31, 34, 0.8);
  padding: 0.8rem 1.6rem;
  border-radius: 4px;
  display: inline;
  width: fit-content;
}

a.button:hover {
  background-color: rgba(173, 212, 78, 0.9);
  color: rgba(28, 31, 34, 0.9);
}

.fa-brands {
  font-size: 2rem;
  margin: 0.4rem 0.8rem;
}

a, .fa-brands {
  text-decoration: none;
  color: rgba(173, 212, 78, 0.8);
  cursor: pointer;
  transition-duration: 160ms;
}

a:hover, .fa-brands:hover {
  color: rgba(173, 212, 78, 1);
  scale: 1.025;
}

ul {
  text-align: center;
  /* display: inline; */
}

li {
  list-style-image: none;
  display: inline;
  padding-left: 0;
}

div#top {
  display: flex;
  justify-content: space-between;
  gap: 1.6rem;
}

.section-intro {
 display: flex;
 flex-direction: column;
 justify-content: center;
}

.profile-pic {
  width: 20rem;
  height: 20rem;
  border-radius: 8px;
  object-fit: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.section {
  margin: 2rem 2rem;
  padding: 2.4rem;
}

.section:hover {
  border-radius: 10px;
}

.section-body {
  margin: 12px 16px;
  padding: 2rem 16px;
  border-left: 1px solid rgba(225, 225, 225, 0.4);
  line-height: 1.6rem;
}

.footer-container {
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.project-container {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}

.project-img {
  margin: 1rem;
  width: 100%;
  height: 400px;
  background-color: #ADD44E;
  border-radius: 4px;
}

/* Responsive Design */

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 80vw;
  }

  div#top {
    flex-direction: column;
  }

  .section-intro {
    flex-direction: column;
    order: 2;
  }

  .section-img {
    order: 1;
  }

  .profile-pic  {
    width: 100%;
  }
}

@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 90vw;
  }

  ul {
    display: inline;
  }

}

@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */

  .section {
    margin: 1.2rem 0.4rem;
    padding: 1rem;
  }
  .nav-container ul {
    font-size: 1rem;
    padding: 0 2rem;
    gap: 1.2rem;
    font-size: 1rem;
  }

  .container {
    width: 100vw;
    min-width: 320px;
  }

  li {
    display: block;
  }

}
