a.button {
  background-color: rgba(173, 212, 78, 0.8);
  color: rgba(28, 31, 34, 0.8);
  padding: 0.8rem 1.6rem;
  border-radius: 4px;
  display: inline;
  width: fit-content;
}

a.button:hover {
  background-color: rgba(173, 212, 78, 0.9);
  color: rgba(28, 31, 34, 0.9);
}

.social-icon {
  font-size: 2rem;
  margin: 0.4rem 0.8rem;
}

a, .social-icon {
  text-decoration: none;
  color: rgba(173, 212, 78, 0.8);
  cursor: pointer;
  transition: transform 160ms;
}

a:hover, .social-icon:hover {
  color: rgba(173, 212, 78, 1);
  transform: scale(1.025);
}
